


* {
  background-color: black;
color: rgb(206, 152, 35);
white-space: pre;
font: Inconsolata, monospace;
animation: type 4s steps(60, end) forwards;
  -webkit-user-select: none;
  user-select: none;
}

  @keyframes type {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }











* a{
    text-decoration: none;
}
* a:hover{
    color: gray;
}
#GoBack {
    position:absolute;
    left: 250px;
}
@keyframes flicker {
    0% {
      opacity: 0.27861;
    }
    5% {
      opacity: 0.34769;
    }
    10% {
      opacity: 0.23604;
    }
    15% {
      opacity: 0.90626;
    }
    20% {
      opacity: 0.18128;
    }
    25% {
      opacity: 0.83891;
    }
    30% {
      opacity: 0.65583;
    }
    35% {
      opacity: 0.67807;
    }
    40% {
      opacity: 0.26559;
    }
    45% {
      opacity: 0.84693;
    }
    50% {
      opacity: 0.96019;
    }
    55% {
      opacity: 0.08594;
    }
    60% {
      opacity: 0.20313;
    }
    65% {
      opacity: 0.71988;
    }
    70% {
      opacity: 0.53455;
    }
    75% {
      opacity: 0.37288;
    }
    80% {
      opacity: 0.71428;
    }
    85% {
      opacity: 0.70419;
    }
    90% {
      opacity: 0.7003;
    }
    95% {
      opacity: 0.36108;
    }
    100% {
      opacity: 0.24387;
    }
    
}
  @keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
  }
  .crt::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }
  .crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: 
        linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), 
        linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06)), 
        radial-gradient(circle, rgba(76, 63, 1, 0.4) 0%, rgba(0, 0, 0, 0.5) 150%);
    z-index: 2;
    background-size: 100% 2px, 3px 100%, cover;
    pointer-events: none;
  }
  .crt {
    animation: textShadow 1.6s infinite;
}

#zombie {
    position: absolute;
top: 30px ;
left: 19%;
background: none;
z-index: 1;
}

#cassette {
  position: absolute;
top: 200px ;
left: 450px;
background: none;
z-index: 1;
}
#todo {
    position: absolute;
top: 330px ;
left: 19%;
background: none;
width: 80%;
z-index: 1;
}

#door {
position: absolute;
top: 30px ;
left: 750px;
background: none;
padding: 0;
font-size: small;
z-index: 1;
}

#hometalk {
    position: absolute;
    top: 440px ;
    left: 10%;
    background: none;
    padding: 0;
    z-index: 1;
    }

#house {
    position: absolute;
    top: 10px ;
left: 50px;
z-index: 1;
}

#radio {
    position: absolute;
    top: 10px ;
left: 1100px;
z-index: 1;
}

.clicker {
    outline:none;
    display: inline;
    cursor:pointer;
    color:rgba(18, 16, 16, 0)
    z-index: 1;
    ;
    }
    

    
    .clicker {
        list-style-type: none;
        padding: 0;
        z-index: 1;
    }

    .clicker li {
        cursor: pointer;
        width: 80%;
        z-index: 1;
    }

    .clicker li.checked {
        color: gray;
        z-index: 1;
    }


    .clicker li::before {
  content: '[ ] - '
  }

.index {

}


#game-container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    position: absolute;
    top: 100px;
    left: 100px;
    overflow: hidden
}

#game-output {
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    white-space: pre-wrap;
    overflow:hidden;
    z-index: 1;
}

#user-input {

    width: 60%;
    padding: 10px;
    border: 1px solid rgb(206, 152, 35);
    color: rgb(148, 148, 148);
    font-family: inherit;
    font-size: 16px;
    left: 25px;
    top:250px ;
    z-index: 1;
}
audio {
  position: absolute;
  left: 500px;
  top: 500px;
  z-index: 1;
  background-color: rgba(18, 16, 16, 0.1);
  padding: 5px;
  color: rgb(206, 152, 35);
  font-family: Inconsolata, monospace;
  cursor: pointer;
}

audio:hover {
  background-color: rgba(18, 16, 16, 0.3);
}

#audio-controls {
  position: absolute;
  left: 60px;
  top: 500px;
  z-index: 1;
  font-family: Inconsolata, monospace;
  width: fit-content;
  color: rgb(206, 152, 35);
  
}
.terminal-btn {
  background-color: rgba(18, 16, 16, 0);
  border: none;
  z-index: 1;
  display: inline-block;
}

#play-btn {
position: absolute;
left: 500px;
top: 0px;
}
#pause-btn {
  position: absolute;
  left: 550px;
  top: 0px;
}
#stop-btn {
  position: absolute;
  left: 610px;
  top: 0px;
}
#prev-btn {
  position: absolute;
  left: 420px;
  top: -4px;
  font-size: larger;
}
#next-btn {
  position: absolute;
  left: 700px;
  top: -4px;
  font-size: larger;
}
#play-btn:hover {
  background-color: rgba(18, 16, 16, 0);
  color: rgb(148, 148, 148);
}
#pause-btn:hover {
  background-color: rgba(18, 16, 16, 0);
  color: rgb(148, 148, 148);
}
#stop-btn:hover {
  background-color: rgba(18, 16, 16, 0);
  color: rgb(148, 148, 148);
}

#prev-btn:hover {
  background-color: rgba(18, 16, 16, 0);
  color: rgb(148, 148, 148);
}

#next-btn:hover {
  background-color: rgba(18, 16, 16, 0);
  color: rgb(148, 148, 148);
}

#music-info {
  text-align: center;
  margin-top: -58px; /* Adjust as needed */
  margin-left: 60px;
}

#title {
  font-size: 16px;
  font-weight: ;
  margin-left: -90px;
}

#artist {
  font-size: 18px;
  margin-top: 96px;
  color: rgb(148, 148, 148);;
  margin-left: -45px;
}